body {
	font-family: serif;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: justify;
}

article h4 {
	font-size: 20px;
	text-align: center;
}
article p {
	font-size: 20px;
}

article h1 {
	font-size: 26px;
	text-align: center;
}

.center p {
	text-align: center;
}

.center {
	text-align: center;
}

.problem {
	border: 2px #F08243 solid;
	background-color: #E5C8B8;
	border-radius: 5px;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.problem > .problem-header {
	border-bottom: 2px #F08243 solid;
}

.problem > .solution > .hidden-solution {
	visibility: hidden;
	max-height: 0px;
}

.problem > .solution:hover > .hidden-solution {
	visibility: visible;
	max-height: 100%;
}

.problem > .solution > p {
	color: #F08243;
}

#bottom-nav {
	text-align: center;
}

#bottom-nav > a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#bottom-nav {
	margin-top: 2em;
	margin-bottom: 2em;
}

#bottom-nav > a + a {
	margin-left: 1em;
}

.sub-sup {
	display: inline-block;
}

.sub-sup > * {
	display: block;
	position: relative;
	left: 2px;
	top: 8px;
}

td {
	padding-left: 1em;
	text-align: center;
	font-style: italic;
}

table {
	border: black solid 1px;
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
}

img {
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
}

.big {
	font-size: 30px;
}
